.grow {
  transition: all 0.3s ease-in-out;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.14), 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}

.grow:hover {
  transform: scale(1.02);
  box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.3), 0 4px 9px 0 rgba(0, 0, 0, 0.5);
}
